<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome to DTBank (Admin)</h1>
    <ul>
        <li><a href="/add_user">Add a user</a></li>
        <li><a href="/update_affinity">Update a drug's affinity</a></li>
        <li><a href="/delete_drug">Delete a drug</a></li>
        <li><a href="/delete_protein">Delete a protein</a></li>
        <li><a href="/update_contributors">Update contributors</a></li>
        <li><a href="/drugs">View all drugs</a></li>
        <li><a href="/drugs/detailed">View all drugs (detailed)</a></li>
        <li><a href="/proteins">View all proteins</a></li>
        <li><a href="/side_effects">View all side effects</a></li>
        <li><a href="/reactions">View all reactions</a></li>
        <li><a href="/articles">View all articles</a></li>
        <li><a href="/users">View all users</a></li>
        <li><a href="/drug_interactions">View an interaction</a></li>
        <li><a href="/drug_side_effects">View the side effects of a drug</a></li>
        <li><a href="/drug_targets">View the target proteins of a drug</a></li>
        <li><a href="/protein_binders">View the drugs that bind a protein</a></li>
        <li><a href="/side_effect_causers">View the drugs that cause a side effect</a></li>
        <li><a href="/search">Search drugs by description</a></li>
        <li><a href="/least_side_effects">Find the drug with least side effects</a></li>
        <li><a href="/institutions/ranked">Rank institutions</a></li>
        <li><a href="/view_drug">View a drug</a></li>
        <li><a href="/view_protein">View a protein</a></li>
        <li><a href="/view_side_effect">View a side effect</a></li>
        <li><a href="/filter_by_aff">Filter drugs by affinity</a></li>
    </ul>
</body>
</html>