<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update contributors</title>
</head>
<body>
<form action="/reactions/contributors" method="POST">
    <label for="reaction_id">Reaction ID:</label><br>
    <input type="text" id="reaction_id" name="reaction_id"><br>
    <label for="name">Name of the new author:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="username">Username of the new author:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password of the new author:</label><br>
    <input type="text" id="password" name="password"><br>
    <button type="submit">Add</button>
</form>
<a href="/">Home</a>
</body>
</html>